body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

button {
  height: 30px;
  width: 70px;
  margin: 0;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: hsla(176, 13%, 68%, 0.56);
}

button:hover {
  background-color: hsla(176, 61%, 68%, 0.56);
  cursor: pointer;
}

/*nav*/
.nav {
  text-align: center;
}

.nav button {
  width: 12%;
  height: 70px;
  margin: 1%;
  font-size: .75em;
}

.wrapper {
  text-align: center;
}

.app-header {
  text-align: center;
  font-size: 1.3em;
}

.app-header h2, h3 {
  margin: 2%;
}

/*albums styles*/
.albums-view {
  text-align: center;
}

.albums-view button {
  width: 20%;
  height: 60px;
  margin: 2% 5% 0 5%;
  font-size: 1em;
  padding: 5px;
}

.albums-view button h3 {
  margin: 0;
}

.view-button-wrapper {
  margin: 2%;
}

.view-button-wrapper button {
  margin: 1%;
}

/*Thumbnail styles*/

.thumbnail-list { /*why is there a mysterious padding-left?*/
  max-width: 90%;
  margin: 0 auto;
}

.thumbnail-wrapper {
  display: inline-block;
  width: 30%;
}

.thumbnail-li {
  padding: 0 auto;
}

.thumbnail {
  width: 90%;
  margin: 8% auto;
}

/*List styles*/

.list-item-wrapper {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
  width: 25%;
  margin: 2%;
  text-align: left;
    display: inline-block;
}

.list-item-wrapper button {
  margin: 0 auto; 
  /*doesmt work*/
}

.image-list-item {
  margin: .75%;
}

/*Gallery styles*/

.gallery-img-wrapper {
  width: 60%;
  margin: 0 auto;
}

.gallery-img {
  width: 100%;
}

.next-button {
  float: right;
}

.back-button {
  float: left;
}

/*Add and delete styling*/

.add-item {
  margin: 5% auto;
  font-size: 2em;
  width: 60%;
  font-size: 20px;
}

.add-item input {
  height: 30px;
  margin: 0 10px 10px 10px;
  font-size: 20px;
}

.add-item button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
}
