$width: 500px;
$height: 400px;
$description-height: 70px;

div.gallery {
    display: inline-block;
    height: $height;
    width: $width; 
    overflow: hidden;
    text-align: center;
    border: 1px solid #aaa;
    margin: 5px;

    img {
        width: 100%;
        height: $height - $description-height;
        overflow: hidden;
    }
}